.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    padding: 2rem;
    grid-template-areas:
        " . box div-counter-container div-counter-container"
        ". keyboard-base div-counter-container div-counter-container";
    width: 100%;
    height: 95vh;
    background-color: $container-background;

    &.dark {
        background-color: $dark-container-background;
    }
}



.box {
    @include setFlexBox(space-evenly, center, column);
    grid-area: box;
    width: 100%;
    margin: 0 auto;
    height: 80%;
    gap: 1.5rem;
    // box-shadow: 12px 12px 16px 0 rgb(0 0 0 / 25%),
    //     -8px -8px 12px 0 rgba(218, 217, 217, 0.3);
    box-shadow: 0 5px 0px 3px #d7d7d7;
    padding: 4rem;
    border-radius: 20px;
    position: relative;

    &.dark {
        box-shadow: 0 5px 0px 3px #0e0e0e;;

    }

    p {
        font-size: 3rem;
    }
}

.div-timer {
    @include setFlexBox(flex-start, flex-start, row);
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 30px;
    z-index: 0;
}

.div-timer-secondary {
    @include setFlexBox(center, flex-end, row);
    gap: 5px;

    img {
        filter: invert(0);

        &.dark {
            filter: invert(0.9);
        }
    }

    p {
        color: $text-color;

        &.dark {
            color: $dark-text-color
        }

        &.time-over {
            color: $wrong-answer-color;
        }

    }
}

.div-random-word {
    @include setFlexBox(center, center, column);
    width: 100%;
    height: 25%;
    z-index: 1;
    text-align: center;
}

.typed-word,
.btn-submit {
    font-size: 2.5rem;
}

.random-word {
    @include setFlexBox(center, center, row);
    width: 100%;
    line-break: anywhere;

    div {
        color: #1a1a1a;
        font-size: 4rem;
        transition: 0.05s ease;
        position: relative;

        &.dark {
            color: white;
        }

        sup {
            position: absolute;
            background-color: antiquewhite;
            color: red;
            border-radius: 5px;
            left: 0;
            top: -25px;
            padding: 0.1rem 0.4rem;
            visibility: hidden;
        }

        .visible {
            visibility: visible;
        }
    }

    div.default {
        color: white;
    }
    
    div.correct {
        color: $right-answer-color;
    }

    div.incorrect {
        color: $wrong-answer-color;
    }

    div.default-space {
        background-color: #00000000;
    }

    div.correct-space {
        background-color: $right-answer-color;
    }

    div.incorrect-space {
        background-color: $wrong-answer-color;
    }

    
    p {
        font-size: 4rem;
        color: $text-color;
        transition: 0.5s all ease;

        &.dark {
            color: $dark-text-color;
        }
    }


    .digitando {
        color: rgb(188, 122, 255);
    }
}

.div-input-btn {
    @include setFlexBox(center, center, column);
    width: 50%;
    z-index: 1;
}

.typed-word {
    text-align: center;
    box-shadow: 1px 6px 9px 1px $components-shadow;
    width: 100%;
    height: 5rem;
    cursor: auto;
    background-color: $container-background;
    color: $text-color;
    border-radius: 5px;
    margin-bottom: 3rem;
    visibility: hidden;

    &:focus {
        outline: none;
    }

    &.dark {
        color: $dark-text-color;
        background-color: $dark-container-background;
        box-shadow: 0px 0px 20px 0px $dark-components-shadow;
    }
}

.btn-submit {
    background-color: $button-background;
    transition: 0.3s all ease;
    font-weight: 500;
    font-size: 1.8rem;
    width: 100%;
    height: 5rem;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
        background-color: darken($button-background, 10);
        transition: 0.3s all ease;
    }
}

.div-counter-container {
    @include setFlexBox(center, center, column);
    height: 60%;
    grid-area: div-counter-container;
    width: 100%;

    h2 {
        font-size: 2.5rem;

        &.dark {
            color: $dark-text-color;
        }
    }

    p {
        color: $text-color;
        font-size: 3rem;

        &.dark {
            color: $dark-text-color;
        }
    }
}

.div-title {
    @include setFlexBox(center, center, column);
    width: 80%;
    margin-bottom: 3rem;
}

.title {
    font-size: 4rem;
    font-weight: 700;
    color: $title-color;
    text-align: center;

    &.dark {
        color: $dark-title-color;
    }
}

.div-counter {
    @include setFlexBox(center, center, column);
    width: 80%;

    .counter-title {
        margin-bottom: 3rem;
    }
}


// Notebook
@media (min-width: 901px) and (max-width: 1280px) {
    html {
        font-size: 55%;
    }

    .box {
        height: 70%;
    }

    .random-word p {
        font-size: 5rem;
    }

    .div-selected-time p {
        font-size: 3rem;
    }

    .div-timer-secondary p {
        font-size: 4rem;
    }

    .typed-word {
        font-size: 3rem;
        height: 50px;
    }

    .title {
        font-size: 5rem;
    }

    .div-counter .counter-title,
    .div-counter .counter {
        font-size: 3.5rem;
    }

    .btn-submit {
        font-size: 2.5rem;
        height: 6rem;
    }
}

// Tablet
@media (min-width: 320px) and (max-width: 900px) {
    .container {
        @include setFlexBox(center, center, column-reverse);
    }

    .box {
        height: 60%;
        width: 80%;
    }

    .div-input-btn {
        width: 80%;
    }

    .title {
        font-size: 5rem;
    }

    .div-counter {
        width: 100%;
    }

    .div-counter .counter-title {
        font-size: 3rem;
    }

    .random-word p {
        font-size: 4.5rem;
    }

    .div-counter-container {
        height: auto;
        margin-bottom: 5rem;
    }

    .typed-word {
        font-size: 3rem;
        height: 7rem;
    }

    .btn-submit {
        font-size: 2rem;
        height: 6rem;
    }
}

// Mobile
@media (min-width: 320px) and (max-width: 680px) {
    html {
        font-size: 45%;
    }

    body {
        background-color: $container-background;

        &.dark {
            background-color: $dark-container-background;
        }
    }

    .container {
        height: 640px;
    }

    .box {
        height: 400px;
    }

    .div-counter-container {
        width: 80%;
    }

    .random-word {
        font-size: 4rem;
    }

    .typed-word {
        font-size: 2.5rem;
    }

    .div-timer-secondary p,
    .div-counter .counter-title,
    .div-counter .counter {
        font-size: 4rem;
    }

}