.keyboard-base {
    grid-area: keyboard-base;
    margin: 0 auto;
    width: 780px;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(30, 20px);
    grid-template-rows: repeat(5, 50px);
    grid-gap: 5px;
    background-color: $keyboard-background;
    box-shadow: 0 5px 0px 5px $components-shadow;
    color: black;

    &.dark {
        background-color: $dark-keyboard-background;
        box-shadow: 0 5px 0px 5px $dark-components-shadow;
    }
}

.key {
    background-color: $keyboard-key-background;
    border: 2px solid $keyboard-key-border;
    border-radius: 5px;
    grid-column: span 2;
    font-size: 20px;
    text-align: center;
    padding-top: 17px;
    position: relative;
    box-shadow: 2px 1px 2px 0px $keyboard-key-shadow;

    sup {
        top: 5px;
        left: 25px;
        position: absolute;
        font-size: 15px;
    }
}

.current-key {
    background-color: $keyboard-current-key;
    box-shadow: 1px 1px 20px 0px $keyboard-current-key;
    border: none;
}

.current-shift {
    background-color: $keyboard-current-shift;
    box-shadow: 1px 1px 20px 0px $keyboard-current-shift;
    border: none;
}

.delete {
    grid-column: span 4;
}

.tab {
    grid-column: span 3;
}

.backslash {
    grid-column: span 3;
}

.capslock {
    grid-column: span 4;
}

.return {
    grid-column: span 2;
}

.leftshift {
    grid-column: span 4;
}

.rightshift {
    grid-column: span 3;
}

.leftctrl {
    grid-column: span 4;
}

.rightctrl {
    grid-column: span 3;
}

.command {
    grid-column: span 3;
    font-size: 14px;
}

.space {
    grid-column: span 13;
}

@media (min-width: 320px) and (max-width: 900px) {
    .keyboard-base {
        display: none;
    }
}