@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    border: none;
    font-family: "League Spartan", Arial, Helvetica, sans-serif;
    cursor: default;
}

@import '../helpers/animations';
@import '../helpers/variables';
@import '../helpers/mixins';

@import '../layouts/config';
@import '../layouts/menu';
@import '../layouts/timerSettings';
@import '../layouts/gameMode';
@import '../layouts/modal';
@import '../layouts/footer';

@media (min-width: 901px) and (max-width: 1279px) {
    // GLOBAL STYLE
}

// Tablet
@media (min-width: 320px) and (max-width: 900px) {
    // GLOBAL STYLE
}

@media (min-width: 320px) and (max-width: 900px) and (orientation: landscape) {
    // GLOBAL STYLE
}

// Mobile
@media (min-width: 320px) and (max-width: 680px) {
    // GLOBAL STYLE
}

@media (min-width: 320px) and (max-width: 680px) and (orientation: landscape) {
    // GLOBAL STYLE
}