// Cores
$black-dark: #000000;
$green-light: #30ec69;
$green-mid: #4fb64f;
$red-light: #ff5757;
$white-light: #f5f5f5;
$white-mid: #d3d3d3;
$grey-light: #959595;
$grey-mid: #4a4a4a;
$grey-dark: #1a1a1a;

// Components - Padrão
$container-background: $white-light;
$button-background: $green-light;
$right-answer-color: $green-mid;
$wrong-answer-color: $red-light;
$title-color: $grey-mid;
$text-color: $grey-dark;
$components-shadow: $white-mid;

//Components - Dark Mode
$dark-container-background: $grey-dark;
$dark-title-color: $grey-light;
$dark-text-color: $white-mid;
$dark-components-shadow: $black-dark;