.container-menu {
    @include setFlexBox(center, center, row);
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;

    &.dark {
        background-color: #1a1a1a;
    }

    .box-menu {
        @include setFlexBox(center, center, column);
        width: 60%;
        height: 80%;
        gap: 1.5rem;
        box-shadow: 0px 0px 20px 0px #d1d1d1;
        padding: 4rem;
        content-visibility: auto;

        &.dark {
            box-shadow: 0px 0px 20px 0px #000000;
        }

        .title-menu {
            font-size: 3.2rem;

            &.dark {
                color: #D3D3D3;
            }
        }

        .div-form {
            @include setFlexBox(space-around, center, column);
            width: 100%;
            height: 50%;

            form {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
                grid-row-gap: 0px;
                width: 70%;
                height: 100%;
                align-items: center;
                
                button {
                    cursor: pointer;
                    width: 55%;
                    height: 55%;
                    background-color: #f5f5f5;
                    transition: 0.2s ease-out;
                    box-shadow: 0px 4px 6px 1px #b9b9b9;
                    border-radius: 20px;
                    margin: 0 auto;

                    &.dark {
                        background-color: #1a1a1a;
                        box-shadow: 0px 4px 6px 1px #000000;
                    }

                    &:hover {
                        background-color: #30ec69;
                        box-shadow: 0px 4px 10px 1px #30ec68ab;
                        transition: 0.2s ease-out;
                    }

                    img, p {
                        cursor: pointer;
                    }

                    img {
                        width: 40px;
                        margin-bottom: 10px;

                        &.dark {
                            filter: invert(0.8);
                        }

                        &.mouse-over {
                            filter: invert(0.1);
                        }
                    }

                    p {
                        font-size: 1.8rem;

                        &.dark {
                            color: #D3D3D3;
                        }
                        
                        &.mouse-over {
                            color: #1a1a1a;
                        }
                    }
                }
            }
        }
    }
}
