$absoluteBlack: #000000;
$correctGreen: #4fb64f;
$incorrectRed: #ff5757;
$lightModeWhite: #f5f5f5;
$titleGrey: #4a4a4a;
$glowGreen: #30ec69;
$glowGreenShadow: #30ec68ab;
$darkModeBlack: #1a1a1a;
$darkModeWhite: #d3d3d3;
$darkModeWhiteShadow: #b9b9b9;
$darkModetitleGrey: #959595;