@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    border: none;
    font-family: "League Spartan", Arial, Helvetica, sans-serif;
    cursor: default;
}

@mixin setFlexBox($justifyContent, $alignItems, $flexDirection) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-direction: $flexDirection;
}

.wobble {
    -webkit-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes wobble {
    0% {
        -webkit-transform: none;
        transform: none;
   }
    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
   }
    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
   }
    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
   }
    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
   }
    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
   }
    100% {
        -webkit-transform: none;
        transform: none;
   }
}

@keyframes wobble {
    0% {
        -webkit-transform: none;
        transform: none;
   }
    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
   }
    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
   }
    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
   }
    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
   }
    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
   }
    100% {
        -webkit-transform: none;
        transform: none;
   }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
   }
    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
   }
    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
   }
    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
   }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
   }
}

@keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
   }
    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
   }
    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
   }
    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
   }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
   }
}

.dark-mode {
    background-color: whitesmoke;
    position: fixed;
    padding: 10px 0 0 10px;

    &.dark {
        background-color: #1a1a1a;
    }

    .btn-dark-mode {
        @include setFlexBox(center, center, row);
        width: 50px;
        height: 50px;
        font-size: 1.8rem; 
        background-color: whitesmoke;
        border-radius: 50px;
        cursor: pointer;
    
        &.dark {
            background-color: #1a1a1a;
        }
    
        img {
            width: 30px;
            cursor: pointer;
    
            &.dark {
                filter: invert(0.7);
            }
        }
    }
}

@import 'menu';

.container {
    @include setFlexBox(center, center, row);
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;

    &.dark {
        background-color: #1a1a1a;
    }

    .box {
        @include setFlexBox(space-evenly, center, column);
        width: 60%;
        height: 80%;
        gap: 1.5rem;
        box-shadow: 0px 0px 20px 0px #d1d1d1;
        padding: 4rem;
        content-visibility: auto;

        &.dark {
            box-shadow: 0px 0px 20px 0px #000000;
        }
    
        p {
            font-size: 3rem;
        }
        
        .typed-word, .btn-submit {
            font-size: 2.5rem;
        }

        .div-timer {
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 30px;
            z-index: 0;

            .div-timer-secondary {
                @include setFlexBox(center, flex-end, row);
                gap: 5px;

                img {
                    filter: invert(0);
                    
                    &.dark {
                        filter: invert(0.9);
                    }
                }
    
                p {
                    color: #1a1a1a;
                    
                    &.dark {
                        color: whitesmoke;
                    }
                }
            }
        }
        
        .div-random-word {
            @include setFlexBox(center, center, column);
            width: 100%;
            height: 25%;
            z-index: 1;

            .random-word {
                @include setFlexBox(center, center, row);
                width: 100%;            
    
                p {
                    font-size: 4rem;
                    color: #1a1a1a;
                    transition: 0.5s all ease;

                    &.dark {
                    color: whitesmoke;
                }
                }

                p.correct {
                    color: rgb(79, 182, 79);
                }
    
                p.incorrect {
                    color: rgb(255, 87, 87);
                }
            }
        }

        .div-check-answer {
            @include setFlexBox(center, center, column);
            width: 50%;
            height: 25%;
            z-index: 1;
            
            .check-answer {
                @include setFlexBox(center, center, row);
                width: 100%;
                color: #838383;
            }
        }

        .div-input-btn {
            @include setFlexBox(center, center, column);
            width: 50%;
            gap: 3rem;
            z-index: 1;
            
            .typed-word {
                text-align: center;
                box-shadow: 1px 6px 9px 1px #c3c3c3;
                width: 100%;
                height: 5rem;
                cursor: auto;
                background-color: whitesmoke;
                color: #1a1a1a;

                &:focus {
                    outline: none;
                }

                &.dark {
                    color: whitesmoke;
                    background-color: #1a1a1a;
                    box-shadow: 0px 0px 20px 0px #000000;
                }
            }

            .btn-submit {  
                background-color: #48e96f;
                transition: 0.3s all ease;
                font-weight: 500;
                font-size: 1.8rem;
                width: 100%;
                height: 5rem;
    
                &:hover {
                    cursor: pointer;
                    background-color: #3cc25d;
                    transition: 0.3s all ease;
                }
            }
        }
    }

    .div-counter-tips {
        @include setFlexBox(center, center, column);
        width: 25%;
        height: 90%;
        gap: 5rem;

        .div-title {
            @include setFlexBox(center, center, column);
            width: 80%;
            gap: 3rem;

            .title {
                font-size: 4rem;
                font-weight: 700;
                color:#4a4a4a;
                text-align: center;

                &.dark {
                    color: #959595;
                }
            }
        }

        h2, p {
            color: #1a1a1a;
        }

        h2 {
            font-size: 2.5rem;

            &.dark {
                color: lightgrey;
            }
        }

        p {
            font-size: 3rem;

            &.dark {
                color: #959595
            }
        }

        .div-counter {
            @include setFlexBox(center, center, column);
            width: 80%;
            gap: 3rem;
        }

        .div-tips {
            @include setFlexBox(center, center, column);
            width: 60%;
            gap: 2rem;

            .div-img {
                @include setFlexBox(center, center, column);
                gap: 1rem;

                p {
                    font-size: 2rem;
                    text-align: justify;
                }
    
                img {
                    width: 100px;

                    &.dark {
                        filter: invert(0.7);
                    }
                }
            }        
        }
    }
}




@media (min-width: 901px) and (max-width: 1279px) {
    // GLOBAL STYLE
}

// Tablet
@media (min-width: 320px) and (max-width: 900px) {

}

@media (min-width: 320px) and (max-width: 900px) and (orientation: landscape) {
    // GLOBAL STYLE
}
        
// Mobile
@media (min-width: 320px) and (max-width: 680px) {
    // GLOBAL STYLE
}

@media (min-width: 320px) and (max-width: 680px) and (orientation: landscape) {
    // GLOBAL STYLE
}
