<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digitação</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <section class="dark-mode">
        <button class="btn-dark-mode">
            <img src="assets/img/moon_icon.png" alt="Lua icon">
        </button>
    </section>

    <section class="container-menu">
        <div class="box-menu">
            <h1 class="title-menu">Selecione modo desejado:</h1>

            <div class="div-form">
                <form action="/timer-off" method="GET">
                    <button>Treinamento</button>
                </form>
                <form action="/timer-on" method="GET">
                    <button>Contador regressivo</button>
                </form>
            </div>
        </div>
    </section>
    
    <script type="module" src="assets/modules/darkMode.js"></script>
</body>
</html>