<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digitação</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="shortcut icon" href="assets/img/icon_top_page.png" type="image/x-icon">
</head>
<body>
    <section class="section-config-options">
        <div class="div-dark-mode">
            <button class="btn-dark-mode">
                <img src="assets/img/moon_icon.png" alt="Lua icon">
            </button>
        </div> 
    </section>

    <section class="container-menu">
        <div class="box-menu">
            <h1 class="title-menu">Selecione o modo de jogo:</h1>

            <div class="div-form">
                <form action="/" method="GET">
                    <button formaction="/training-mode">
                        <img src="assets/img/icon_keyboard.png" alt="Teclado Icon">
                        <p>Treinamento</p>
                    </button>
                    <button formaction="/timer-settings">
                        <img src="assets/img/icon_timer.png" alt="Timer Icon">
                        <p>Contagem Regressiva</p>
                    </button>
                </form>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; Todos os direitos reservados 2022 - <a target="_blank" href="https://www.linkedin.com/in/daniel-de-oliveira-santos/">Daniel de Oliveira Santos</a></p>
    </footer>
    
    <script type="module" src="modules/darkMode.js"></script>
    <script type="module" src="modules/menuHoverButtons.js"></script>
</body>
</html>