<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digitação</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="shortcut icon" href="assets/img/icon_keyboard.png" type="image/x-icon">
</head>
<body>
    
    <section class="dark-mode">
        <section class="section-back-button">
            <a href="/">&#8249;</a>
        </section>
        <button class="btn-dark-mode">
            <img src="assets/img/moon_icon.png" alt="Lua icon">
        </button>
    </section>

    <section class="container-timer-settings">
        <div class="box-timer-settings">
            <h1 class="title-timer-settings">Contagem regressiva a partir de:</h1>

            <div class="div-form-timer-settings">
                <form action="/timer-mode" method="POST">
                    <div class="div-selected-time">
                        <input type="number" name="time" max="90" min="5" value="10" required>
                        <p>segundos</p>
                    </div>
                    <button>Iniciar</button>
                </form>
            </div>
        </div>
    </section>
    
    <script type="module" src="modules/darkMode.js"></script>
</body>
</html>