<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digitação</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="shortcut icon" href="assets/img/icon_keyboard.png" type="image/x-icon">
</head>
<body>
    <section class="section-config-options">
        <div class="div-back-button">
            <a href="/"><img src="assets/img/icon_back.png" title="Voltar" alt="Voltar Icon"></a>
        </div>
        <div class="div-dark-mode">
            <button class="btn-dark-mode">
                <img src="assets/img/moon_icon.png" title="Modo escuro" alt="Lua icon">
            </button>
        </div> 
    </section>

    <section class="container-timer-settings">
        <div class="box-timer-settings">
            <h1 class="title-timer-settings">Contagem regressiva a partir de:</h1>

            <div class="div-form-timer-settings">
                <form action="/timer-mode" method="POST">
                    <div class="div-selected-time">
                        <div class="set-timer">
                            <input class="decrease-timer" type="button" value="-">
                            <input class="timer-value" type="number" name="time" max="90" min="5" value="10" required>
                            <input class="increase-timer" type="button" value="+">
                        </div>
                        <p>segundos</p>
                    </div>
                    <button>Iniciar</button>
                </form>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; Todos os direitos reservados 2022 - <a target="_blank" href="https://www.linkedin.com/in/daniel-de-oliveira-santos/">Daniel de Oliveira Santos</a></p>
    </footer>
    
    <script type="module" src="modules/darkMode.js"></script>
    <script type="module" src="modules/timerControls.js"></script>
</body>
</html>