<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digitação</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="shortcut icon" href="assets/img/icon_keyboard.png" type="image/x-icon">
</head>
<body>
    <section class="dark-mode">
        <section class="section-back-button">
            <a href="/timer-settings">&#8249;</a>
        </section>
        <button class="btn-dark-mode">
            <img src="assets/img/moon_icon.png" alt="Lua icon">
        </button>
    </section> 

    <section class="container">
        <div class="box">
            <div class="div-timer">
                <div class="div-timer-secondary">
                    <img width="35px" src="assets/img/icon_timer.png" alt="Ícone Cronômetro">
                    <p><%= time %></p>
                </div>
            </div>

            <div class="div-random-word">
                <div class="random-word">
                    <p></p>
                </div>
            </div>

            <div class="div-input-btn">
                <input class="typed-word" type="text" placeholder="Digite a frase acima...">
                <button class="btn-submit">ENVIAR</button>
            </div>
        </div>
                 
        <div class="div-counter-tips">
            <div class="div-title">
                <h1 class="title">TREINO DE DIGITAÇÃO</h1>
            </div>
            <div class="div-counter">
                <h2 class="counter-title">Frases Digitadas</h2>
                <p class="counter">0</p>
            </div>
            
            <div class="div-tips">
                <h2 class="tips-title">Dica</h2>

                <div class="div-img">
                    <p>Segure a tecla SHIFT para colocar uma letra em maiúscula.</p>
                    <img src="assets/img/shift_icon.png" alt="Dica">
                </div>
            </div>
        </div>
    </section>
    
    <script type="module" src="assets/js/main.js"></script>
</body>
</html>