<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digitação</title>
    <link rel="stylesheet" href="assets/css/base/style.css">
    <link rel="shortcut icon" href="assets/img/icon_top_page.png" type="image/x-icon">
</head>
<body>
    <section class="section-config-options">
        <div class="div-back-button">
            <a href="/"><img src="assets/img/icon_back.png" title="Voltar" alt="Voltar Icon"></a>
        </div>
        <div class="div-dark-mode">
            <button class="btn-dark-mode">
                <img src="assets/img/moon_icon.png" title="Modo escuro" alt="Lua icon">
            </button>
        </div>
        <div class="div-tips">
            <a href="#open-tips"><img src="assets/img/icon_tips.png" title="Dicas" alt="Dica icon"></a>
        </div>
    </section>

    <section class="container">
        <div class="box">
            <div class="div-random-word">
                <div class="random-word">
                    <p></p>
                </div>
            </div>

            <div class="div-input-btn">
                <input class="typed-word" type="text" placeholder="Digite a frase acima...">
                <button class="btn-submit">ENVIAR</button>
            </div>
        </div>
                 
        <div class="div-counter-container">
            <div class="div-title">
                <h1 class="title">TREINO DE DIGITAÇÃO</h1>
            </div>
            <div class="div-counter">
                <h2 class="counter-title">Frases Digitadas</h2>
                <p class="counter">0</p>
            </div>
        </div>
    </section>

    <section id="open-tips" class="modal">
        <div class="container-modal-open">
            <a href="#close-tips" title="Fechar" class="close-modal">x</a>
            <h2>DICAS</h2>
            <div class="div-tip-modal">
                <div class="tip-example">
                    <p>Para inserir uma letra maiúscula:</p>
                    <p class="simbol">A B C D E</p>
                </div>
                <div class="tip-description">    
                    <p>Basta segurar a tecla SHIFT <img src="assets/img/shift_icon.png" alt="Ícone tecla SHIFT"> e apertar a tecla da letra desejada.</p> 
                </div>
            </div>
            <div class="div-tip-modal">
                <div class="tip-example">
                    <p>Para inserir os símbolos:</p>
                    <p class="simbol">´ ~</p>
                </div>
                <div class="tip-description">
                    <p>Basta apertar a tecla do acento desejado e 
                    depois apertar a tecla da letra que deseja inserir o acento.
                    </p> 
                </div>
            </div>
            <div class="div-tip-modal">
                <div class="tip-example">
                    <p>Para inserir os símbolos:</p>
                    <p class="simbol">` ^ ? ! @ # $ % & * ( ) :</p>
                </div>
                <div class="tip-description">
                    <p>Basta segurar a tecla SHIFT <img src="assets/img/shift_icon.png" alt="Ícone tecla SHIFT">  e apertar a tecla do símbolo desejado. 
                        Caso seja um acento, depois basta apertar a tecla da letra que deseja inserir.
                    </p> 
                </div>
            </div>           
        </div>
    </section>

    <footer>
        <p><a target="_blank" href="https://www.linkedin.com/in/daniel-de-oliveira-santos/">Daniel de Oliveira Santos</a> &copy; 2022</p>
    </footer>
    
    <script type="module" src="assets/js/main.js"></script>
</body>
</html>