<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digitação</title>
    <link rel="stylesheet" href="assets/css/base/style.css">
    <link rel="shortcut icon" href="assets/img/icon_top_page.png" type="image/x-icon">
</head>

<body>
    <section class="section-config-options">
        <div class="div-back-button">
            <a href="/"><img src="assets/img/icon_back.png" title="Voltar" alt="Voltar Icon"></a>
        </div>
        <div class="div-dark-mode">
            <button class="btn-dark-mode">
                <img src="assets/img/moon_icon.png" title="Modo escuro" alt="Lua icon">
            </button>
        </div>
    </section>

    <section class="container">
        <div class="box">
            <div class="div-random-word">
                <div class="random-word">
                    <p></p>
                </div>
            </div>
        </div> 
        
        <div class="div-counter-container">
            <div class="div-title">
                <h1 class="title">TREINO DE DIGITAÇÃO</h1>
            </div>
            <div class="div-counter">
                <h2 class="counter-title">Frases Digitadas</h2>
                <p class="counter">0</p>
            </div>
        </div>
        
        <div class="keyboard-base">
            <div class="key '">'<sup>"</sup></div>
            <div class="key 1 !">1<sup>!</sup></div>
            <div class="key 2 @">2<sup>@</sup></div>
            <div class="key 3 #">3<sup>#</sup></div>
            <div class="key 4 $">4<sup>$</sup></div>
            <div class="key 5 %">5<sup>%</sup></div>
            <div class="key 6">6<sup>¨</sup></div>
            <div class="key 7 &">7<sup>&</sup></div>
            <div class="key 8 *">8<sup>*</sup></div>
            <div class="key 9 (">9<sup>(</sup></div>
            <div class="key 0 )">0<sup>)</sup></div>
            <div class="key - _">-</div>
            <div class="key = +">=<sup>+</sup></div>
            <div class="key delete"><img width="17px" src="assets/img/icon_backspace.png" alt="shift icon"> Back</div>
            <div class="key tab"><img width="17px" src="assets/img/icon_tab_arrow.png" alt="tab icon"> Tab</div>
            <div class="key q Q">Q</div>
            <div class="key w W">W</div>
            <div class="key e E">E</div>
            <div class="key r R">R</div>
            <div class="key t T">T</div>
            <div class="key y Y">Y</div>
            <div class="key u U">U</div>
            <div class="key i I">I</div>
            <div class="key o O">O</div>
            <div class="key p P">P</div>
            <div class="key ´ `">´<sup>`</sup></div>
            <div class="key [ {">[<sup>{</sup></div>
            <div class="key backslash Enter">Enter</div>
            <div class="key capslock">Caps</div>
            <div class="key a A">A</div>
            <div class="key s S">S</div>
            <div class="key d D">D</div>
            <div class="key f F">F</div>
            <div class="key g G">G</div>
            <div class="key h H">H</div>
            <div class="key j J">J</div>
            <div class="key k K">K</div>
            <div class="key l L">L</div>
            <div class="key ç Ç">Ç</div>
            <div class="key ~ ^">~<sup>^</sup></div>
            <div class="key ] }">]<sup>}</sup></div>
            <div class="key return Enter"></div>
            <div class="key leftshift"><img width="17px" src="assets/img/icon_shift_arrow.png" alt="shift icon"> Shift</div>
            <div class="key \ |">\<sup>|</sup></div>
            <div class="key z Z">Z</div>
            <div class="key x X">X</div>
            <div class="key c C">C</div>
            <div class="key v V">V</div>
            <div class="key b B">B</div>
            <div class="key n N">N</div>
            <div class="key m M">M</div>
            <div class="key ,">,</div>
            <div class="key .">.</div>
            <div class="key ; :">;<sup>:</sup></div>
            <div class="key / ?">/<sup>?</sup></div>
            <div class="key leftctrl">Ctrl</div>
            <div class="key command"><img width="20px" src="assets/img/icon_windows.png" alt="shift icon"></div>
            <div class="key">Alt</div>
            <div class="key space">Space</div>
            <div class="key command"><img width="20px" src="assets/img/icon_windows.png" alt="shift icon"></div>
            <div class="key">Alt</div>
            <div class="key rightctrl">Ctrl</div>
        </div>
    </section>

    <footer>
        <p><a target="_blank" href="https://www.linkedin.com/in/daniel-de-oliveira-santos/">Daniel de Oliveira
                Santos</a> &copy; 2022</p>
    </footer>

    <script type="module" src="assets/js/main.js"></script>
</body>

</html>